@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-3 mb-4">Welcome to My Scripture Journal!</h1>
    <p class="bg-primary text-light mt-5 p-4 rounded display-6">"Become an engaged learner. Immerse yourself in the scriptures to understand better Christ's mission and ministry. Know the doctrine of Christ so that you understand its power for your life." - President Nelson</p>
</div>
